<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>$title$</title>

        <link rel="stylesheet" href="assets/styles.css">
        <link rel="shortcut icon" href="assets/favicon.ico">
    </head>
    <body>
        <header>
            <a href="/">
                $if(showFace)$
                <img src="assets/face.jpg" id="face">
                $endif$
                <div id="title">
                    <h1>$heading$</h1>
                </div>
            </a>
        </header>

        <main>$body$</main>

        <footer></footer>
    </body>
</html>